<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Log4JInitServlet</servlet-name>
		<servlet-class>com.tivenwang.servlet.Log4JInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/webresources/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>Log4JInitServlet</servlet-name>
		<url-pattern>/Log4JInitServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VcodeImageCreateServlet</servlet-name>
		<servlet-class>com.tivenwang.servlet.VcodeImageCreateServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>VcodeImageCreateServlet</servlet-name>
		<url-pattern>/Vcode/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>com.tivenwang.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>/webresources/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
</web-app>